<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WM_Win_PanariaUSA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <WM_Win_PanariaUSA.My.MySettings>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_CONNECTION_ZWS_MB_CHECK_CONNECTION"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_connection/100/zws_mb_check_connection/zws_mb_check_connection</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_CHECK_JOBGROUP_OK_X_CLOSE_ZWS_CHECK_JOBGROUP_OK_X_CLOSE"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_check_jobgroup_ok_x_close/100/zws_check_jobgroup_ok_x_close/zws_check_jobgroup_ok_x_close</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_DOCMAT_ZWS_MB_CHECK_DOCMAT"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_docmat/100/zws_mb_check_docmat/zws_mb_check_docmat</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_EXEC_RF_LOGIN_ZWS_MB_EXEC_RF_LOGIN"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_exec_rf_login/100/zws_mb_exec_rf_login/zws_mb_exec_rf_login</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_SYSTEM_INFO_ZWS_MB_GET_SYSTEM_INFO"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_system_info/100/zws_mb_get_system_info/zws_mb_get_system_info</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_DOCMAT_CONFIRM_QTY_ZWS_MB_GET_DOCMAT_CONFIRM_QTY"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_docmat_confirm_qty/100/zws_mb_get_docmat_confirm_qty/zws_mb_get_docmat_confirm_qty</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GOODSMVT_CREATE_MB1B_ZWS_MB_GOODSMVT_CREATE_MB1B"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_goodsmvt_create_mb1b/100/zws_mb_goodsmvt_create_mb1b/zws_mb_goodsmvt_create_mb1b</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GOODSMVT_CREATE_MB11_ZWS_MB_GOODSMVT_CREATE_MB11"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_goodsmvt_create_mb11/100/zws_mb_goodsmvt_create_mb11/zws_mb_goodsmvt_create_mb11</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GOODSMVT_CREATE_MB11_Q_ZWS_MB_GOODSMVT_CREATE_MB11_Q"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_goodsmvt_create_mb11_q/100/zws_mb_goodsmvt_create_mb11_q/zws_mb_goodsmvt_create_mb11_q</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_SU_INFO_ZWS_MB_GET_SU_INFO"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_su_info/100/zws_mb_get_su_info/zws_mb_get_su_info</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_MATERIAL_LIST_ZWS_MB_GET_MATERIAL_LIST"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_material_list/100/zws_mb_get_material_list/zws_mb_get_material_list</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_LQUA_GIACENZE_ZWS_MB_GET_LQUA_GIACENZE"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_get_lqua_giacenze/100/zws_mb_get_lqua_giacenze/zws_mb_get_lqua_giacenze</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_LGTYP_LIST_ZWS_MB_GET_LGTYP_LIST"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_lgtyp_list/100/zws_mb_get_lgtyp_list/zws_mb_get_lgtyp_list</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_JOBS_SINGLE_ZWS_GET_JOBS_SINGLE"
                serializeAs="String">
                <value>http://CLDSBX01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_get_jobs_single/100/zws_get_jobs_single/zws_get_jobs_single</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_WM_INPUT_DEST_BASIC_ZWS_MB_GET_WM_INPUT_DEST_BASIC"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_wm_input_dest_basic/100/zws_mb_get_wm_input_dest_basic/zws_mb_get_wm_input_dest_basic</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_DOCMAT_POS_DA_CONF_ZWS_MB_GET_DOCMAT_POS_DA_CONF"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_docmat_pos_da_conf/100/zws_mb_get_docmat_pos_da_conf/zws_mb_get_docmat_pos_da_conf</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_ODA_INPUT_DEST_ZWS_MB_GET_ODA_INPUT_DEST"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_oda_input_dest/100/zws_mb_get_oda_input_dest/zws_mb_get_oda_input_dest</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_DOCMAT_ZWS_MB_GET_DOCMAT"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_docmat/100/zws_mb_get_docmat/zws_mb_get_docmat</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_COMMESSE_DOCMAT_ZWS_MB_GET_COMMESSE_DOCMAT"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_commesse_docmat/100/zws_mb_get_commesse_docmat/zws_mb_get_commesse_docmat</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_EXEC_WM_WMS_TO_ZWS_MB_EXEC_WM_WMS_TO"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_exec_wm_wms_to/100/zws_mb_exec_wm_wms_to/zws_mb_exec_wm_wms_to</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_EXEC_WM_TO_MOVE_SU_ZWS_MB_EXEC_WM_TO_MOVE_SU"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_exec_wm_to_move_su/100/zws_mb_exec_wm_to_move_su/zws_mb_exec_wm_to_move_su</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_STOCK_GIACENZA_ZWS_MB_CHECK_STOCK_GIACENZA"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_stock_giacenza/100/zws_mb_check_stock_giacenza/zws_mb_check_stock_giacenza</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_ORDINE_VENDITA_ZWS_MB_CHECK_ORDINE_VENDITA"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_ordine_vendita/100/zws_mb_check_ordine_vendita/zws_mb_check_ordine_vendita</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_MULTIPLE_LENUM_ZWS_MB_CHECK_MULTIPLE_LENUM"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_multiple_lenum/100/zws_mb_check_multiple_lenum/zws_mb_check_multiple_lenum</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_ODP_ZWS_MB_CHECK_ODP"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_odp/100/zws_mb_check_odp/zws_mb_check_odp</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CREA_UBICAZIONE_ZWS_MB_CREA_UBICAZIONE"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_crea_ubicazione/100/zws_mb_crea_ubicazione/zws_mb_crea_ubicazione</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_MATNR_ANA_FABBISO_ZWS_MB_CHECK_MATNR_ANA_FABBISO"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_matnr_ana_fabbiso/100/zws_mb_check_matnr_ana_fabbiso/zws_mb_check_matnr_ana_fabbiso</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_CHECK_STOCK_AND_GET_DEST_ZWS_CHECK_STOCK_AND_GET_DEST"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_check_stock_and_get_dest/100/zws_check_stock_and_get_dest/zws_check_stock_and_get_dest</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_WM_OUT_DEST_BASIC_ZWS_MB_GET_WM_OUT_DEST_BASIC"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_wm_out_dest_basic/100/zws_mb_get_wm_out_dest_basic/zws_mb_get_wm_out_dest_basic</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_LENUM_GIACENZA_ZWS_MB_CHECK_LENUM_GIACENZA"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_lenum_giacenza/100/zws_mb_check_lenum_giacenza/zws_mb_check_lenum_giacenza</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_LENUM_WITH_LGPLA_ZWS_MB_CHECK_LENUM_WITH_LGPLA"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_lenum_with_lgpla/100/zws_mb_check_lenum_with_lgpla/zws_mb_check_lenum_with_lgpla</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_CHECK_JOBS_GROUP_LAST_SEQ_ZWS_CHECK_JOBS_GROUP_LAST_SEQ"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_check_jobs_group_last_seq/100/zws_check_jobs_group_last_seq/zws_check_jobs_group_last_seq</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_SET_JOBSGROUP_UBI_DEST_ZWS_SET_JOBSGROUP_UBI_DEST"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_set_jobsgroup_ubi_dest/100/zws_set_jobsgroup_ubi_dest/zws_set_jobsgroup_ubi_dest</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_SET_JOBSGROUP_CLOSED_ZWS_SET_JOBSGROUP_CLOSED"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_set_jobsgroup_closed/100/zws_set_jobsgroup_closed/zws_set_jobsgroup_closed</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_WM_OUT_ORI_BASIC_ZWS_MB_GET_WM_OUT_ORI_BASIC"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_wm_out_ori_basic/100/zws_mb_get_wm_out_ori_basic/zws_mb_get_wm_out_ori_basic</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_MATNR_INPUT_DEST_ZWS_MB_GET_MATNR_INPUT_DEST"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_matnr_input_dest/100/zws_mb_get_matnr_input_dest/zws_mb_get_matnr_input_dest</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_MATERIAL_EXIST_ZWS_MB_CHECK_MATERIAL_EXIST"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_check_material_exist/100/zws_mb_check_material_exist/zws_mb_check_material_exist</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_SET_JOBSGROUP_ACTIVATE_ZWS_SET_JOBSGROUP_ACTIVATE"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_set_jobsgroup_activate/100/zws_set_jobsgroup_activate/zws_set_jobsgroup_activate</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_SET_JOB_STEP_FORCED_NEXT_ZWS_SET_JOB_STEP_FORCED_NEXT"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_set_job_step_forced_next/100/zws_set_job_step_forced_next/zws_set_job_step_forced_next</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_SET_JOB_STATUS_FORCED_END_ZWS_SET_JOB_STATUS_FORCED_END"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_set_job_status_forced_end/100/zws_set_job_status_forced_end/zws_set_job_status_forced_end</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_SET_JOB_CARRELLISTA_ZWS_SET_JOB_CARRELLISTA"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_set_job_carrellista/100/zws_set_job_carrellista/zws_set_job_carrellista</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_PRODORD_GET_DETAIL_ZWS_MB_PRODORD_GET_DETAIL"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_prodord_get_detail/100/zws_mb_prodord_get_detail/zws_mb_prodord_get_detail</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_UBICAZIONI_INFO_ZWS_MB_GET_UBICAZIONI_INFO"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_ubicazioni_info/100/zws_mb_get_ubicazioni_info/zws_mb_get_ubicazioni_info</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_MATERIAL_DISPONIBIL_ZWS_MB_GET_MATERIAL_DISPONIBIL"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_material_disponibil/100/zws_mb_get_material_disponibil/zws_mb_get_material_disponibil</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_CHECK_LGPLA_ZWS_MB_CHECK_LGPLA"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_check_lgpla/100/zws_mb_check_lgpla/zws_mb_check_lgpla</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_GET_MATERIAL_DESCR_ZWS_MB_GET_MATERIAL_DESCR"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_mb_get_material_descr/100/zws_mb_get_material_descr/zws_mb_get_material_descr</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_JOB_STEPS_EXECUTED_ZWS_JOB_STEPS_EXECUTED"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_job_steps_executed/100/zws_job_steps_executed/zws_job_steps_executed</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_MATNR_PARTITE_ZWS_GET_MATNR_PARTITE"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_get_matnr_partite/100/zws_get_matnr_partite/zws_get_matnr_partite</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_JOBS_LIST_ZWS_GET_JOBS_LIST"
                serializeAs="String">
                <value>http://CLDSBX01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_get_jobs_list/100/zws_get_jobs_list/zws_get_jobs_list</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_JOBSGROUP_EXE_SUMMARY_ZWS_GET_JOBSGROUP_EXE_SUMMARY"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_get_jobsgroup_exe_summary/100/zws_get_jobsgroup_exe_summary/zws_get_jobsgroup_exe_summary</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_JOBS_GROUP_LIST_ZWS_GET_JOBS_GROUP_LIST"
                serializeAs="String">
                <value>http://CLDSBX01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_get_jobs_group_list/100/zws_get_jobs_group_list/zws_get_jobs_group_list</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_JOB_GROUP_EXEC_INFO_ZWS_GET_JOB_GROUP_EXEC_INFO"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_get_job_group_exec_info/100/zws_get_job_group_exec_info/zws_get_job_group_exec_info</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_CHECK_UDC_JOBS_DEST_OK_ZWS_CHECK_UDC_JOBS_DEST_OK"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_check_udc_jobs_dest_ok/100/zws_check_udc_jobs_dest_ok/zws_check_udc_jobs_dest_ok</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_CHECK_PICK_ALL_SU_ZWS_CHECK_PICK_ALL_SU"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_check_pick_all_su/100/zws_check_pick_all_su/zws_check_pick_all_su</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_CHECK_JOBSGROUP_MATNR_OK_ZWS_CHECK_JOBSGROUP_MATNR_OK"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_check_jobsgroup_matnr_ok/100/zws_check_jobsgroup_matnr_ok/zws_check_jobsgroup_matnr_ok</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_CHECK_JOBS_OK_FOR_ACTION_ZWS_CHECK_JOBS_OK_FOR_ACTION"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_check_jobs_ok_for_action/100/zws_check_jobs_ok_for_action/zws_check_jobs_ok_for_action</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_APP_TRANSLATION_ZWS_GET_APP_TRANSLATION"
                serializeAs="String">
                <value>http://10.126.70.10:50040/sap/bc/srt/rfc/sap/zws_get_app_translation/100/zws_get_app_translation/zws_get_app_translation</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_MB_EXEC_WM_TO_MOVE_SU_MUL_ZWS_MB_EXEC_WM_TO_MOVE_SU_MUL"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_exec_wm_to_move_su_mul/100/zws_mb_exec_wm_to_move_su_mul/zws_mb_exec_wm_to_move_su_mul</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_JOB_EM_STEPS_EXECUTED_ZWS_JOB_EM_STEPS_EXECUTED"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_job_em_steps_executed/100/zws_job_em_steps_executed/zws_job_em_steps_executed</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_USERS_PROF_LGTYP_ZWS_GET_USERS_PROF_LGTYP"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_get_users_prof_lgtyp/100/zws_get_users_prof_lgtyp/zws_get_users_prof_lgtyp</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_UBI_SPUNTA_ZWS_GET_UBI_SPUNTA"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_get_ubi_spunta/100/zws_get_ubi_spunta/zws_get_ubi_spunta</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_FORKLIFT_ZWS_GET_FORKLIFT"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_get_forklift/100/zws_get_forklift/zws_get_forklift</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_JOBS_GROUP_SINGLE_MB_ZWS_GET_JOBS_GROUP_SINGLE_MB"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_get_jobs_group_single_mb/100/zws_get_jobs_group_single_mb/zws_get_jobs_group_single_mb</value>
            </setting>
            <setting name="WM_Win_PanariaUSA_WS_GET_APPLICATION_PARAMS_ZWS_GET_APPLICATION_PARAMS"
                serializeAs="String">
                <value>http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_get_application_params/100/zws_get_application_params/zws_get_application_params</value>
            </setting>


            
            <!--test svil-marco 2-->  <!-- push 10 from svil-marco  -->        


<!--<setting name="UserRfcWs" serializeAs="String">
              <value>one</value>
            </setting>
            <setting name="PswUserRfcWs" serializeAs="String">
              <value>Thebest05!</value>
            </setting>
            <setting name="WsHostName" serializeAs="String">
              <value>10.126.72.12</value>
            </setting>
            <setting name="WsPortNumber" serializeAs="String">
              <value>3340</value>
            </setting>
            <setting name="SapClient" serializeAs="String">
              <value>200</value>
            </setting>
            <setting name="SystemID" serializeAs="String">
              <value>ECD</value>
            </setting>-->          
          
            <setting name="UserRfcWs" serializeAs="String">
                <value>WMS_RFUSA</value>
            </setting>
            <setting name="PswUserRfcWs" serializeAs="String">
                <value>wms2016</value>
            </setting>
            <setting name="WsHostName" serializeAs="String">
                <value>10.126.72.11</value>
            </setting>
            <setting name="WsPortNumber" serializeAs="String">
                <value>3340</value>
            </setting>
            <setting name="SapClient" serializeAs="String">
                <value>200</value>
            </setting><setting name="SystemID" serializeAs="String">
                <value>ECQ</value>
            </setting>

            <!--<setting name="UserRfcWs" serializeAs="String">
              <value>WMS_RFUSA</value>
            </setting>
            <setting name="PswUserRfcWs" serializeAs="String">
              <value>wms2016</value>
            </setting>
            <setting name="WsHostName" serializeAs="String">
              <value>10.126.71.10</value>
            </setting>
            <setting name="WsPortNumber" serializeAs="String">
              <value>3340</value>
            </setting>
            <setting name="SapClient" serializeAs="String">
              <value>200</value>
            </setting>
            <setting name="SystemID" serializeAs="String">
              <value>ECP</value>
            </setting>-->          
          

        </WM_Win_PanariaUSA.My.MySettings>    
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
