<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <MobileSettings>
    <!--   Tempo di SLEEP in MILLISECONDI per THREAD MAIN ! -->
    <SleepTimeThReadMainApplication>100</SleepTimeThReadMainApplication>

    <!-- Stringa da usare nel titolo della message box! -->
    <ApplicationMessageBoxTitle>eOne-WM Rf</ApplicationMessageBoxTitle>

    <!-- Stringa da usare net titolo della form principale! -->
    <ApplicationMainFormTitle>eOne-WM Home Menu</ApplicationMainFormTitle>

    <!-- UTENTE PER CONNESSIONE RFC PALMARE! -->
    <UserRfcWs>one</UserRfcWs>
    <PswUserRfcWs>thebest</PswUserRfcWs>
    
    <WsHostName>10.126.70.10</WsHostName>
    <WsPortNumber>50040</WsPortNumber>
    <SapClient>100</SapClient>
    <NumRecordMaxListaGriglia>100</NumRecordMaxListaGriglia>
    <BemEnableGestioneCommessa>0</BemEnableGestioneCommessa>
    <BemOdaEnableSceltaCommessa>0</BemOdaEnableSceltaCommessa>
    <BemOdaEnableSceltaDocMatPos>1</BemOdaEnableSceltaDocMatPos>
    <BemOdaEnableCreaUbicazionePerProd>1</BemOdaEnableCreaUbicazionePerProd>
    <EnableFormResizeControls>1</EnableFormResizeControls>
    <EnableFormResizeDiagnostic>0</EnableFormResizeDiagnostic>
    
    <!-- DIVISIONI GESTITE DAL PROGRAMMA ! -->
    <DivisioneAvailable1>D020</DivisioneAvailable1>
    <DivisioneAvailable2>D030</DivisioneAvailable2>
    <DivisioneAvailable3>D050</DivisioneAvailable3>
    <DivisioneAvailable4>D060</DivisioneAvailable4>
    <DivisioneAvailable5></DivisioneAvailable5>

    <!-- DIVISIONI GESTITE DAL PROGRAMMA ! -->
    <NumMagAvailable1>Z20</NumMagAvailable1>
    <NumMagAvailable2>Z30</NumMagAvailable2>
    <NumMagAvailable3>Z50</NumMagAvailable3>
    <NumMagAvailable4>Z60</NumMagAvailable4>
    <NumMagAvailable5></NumMagAvailable5>
  </MobileSettings>
  <appSettings>
        
    <!-- SAP NVP -->
    <!-- <add key="SapConnectionString" value="ashost=mnsun201.novellini.it sysnr=23 client=020 passwd=tabata11 user=it-palmar"/> -->
    <!-- SAP NVQ -->
    <add key="SapConnectionString" value="ashost=mnsun202.novellini.it sysnr=22 client=020 passwd=tabata11 user=it-palmar" />
    <!-- Intervallo di tempo in secondi per controllo stato connessione al database ! -->
    <add key="DbProductionCheckIntervalTime" value="30" />


    <!-- Account di mail per invio mail di segnalazione errore ! -->
    <add key="ErrorMailEnable" value="1" />
    <add key="ErrorMailFromMailAddressAccount" value="WM_Mobile@eOneGroup.it" />
    <add key="ErrorMailFromMailAddressDisplayName" value="WM_Mobile@eOneGroup.it" />
    <add key="ErrorMailUserId" value="" />
    <add key="ErrorMailUserPassword" value="" />

    <!-- Account di mail che devono ricevere mail di segnalazione errore ! -->
    <add key="ErrorMailToMailAddress1" value="MPaltrinieri@eonegroup.it" />
    <add key="ErrorMailToMailAddress2" value="" />
    <add key="ErrorMailToMailAddress3" value="" />
    <add key="ErrorMailToMailAddress4" value="" />
    <add key="ErrorMailToMailAddress5" value="" />
    <add key="ErrorMailToMailAddress6" value="" />
    <add key="ErrorMailToMailAddress7" value="" />
    <add key="ErrorMailToMailAddress8" value="" />
    <add key="ErrorMailToMailAddress9" value="" />
    <add key="ErrorMailToMailAddress10" value="" />
    <!-- Nome HOST SMTP ! -->
    <add key="ErrorMailSMTP_HostName" value="mail.eOneGroup.it" />
    
    <!-- Connect_Timeout! -->
    <add key="Connect_Timeout" value="8" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>